:root {
    --dark: #03417b;
    --light: rgb(227, 227, 227);    
}

body {
   background-color: rgb(227, 227, 227);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--light);
    border: 10px solid var(--dark);   
    border-radius: 2%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    box-shadow: 0 0 20px var(--dark);     
}

header p {
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
    min-width: 300px;     
}

nav a {
    color: var(--dark);
    text-decoration: none;
    font-size: 22px; 
    font-weight: bold;       
}

article {
    padding-top: 3%;
}

article h1, section h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    text-decoration: underline;
}

article img, section img {
    border: 10px solid var(--dark);
    border-radius: 5%;
    padding: 2%;
    box-shadow: 0 0 20px var(--dark);
}

article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    border-bottom: 5px solid var(--dark);
    padding: 2%;
}

section {
    padding-top: 3%;
    border-bottom: 5px solid var(--dark);
    padding-bottom: 3%;
}

section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px; 
}

footer {
    padding-top: 5%;    
}

footer ul {
    text-align: center;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

footer h1 {
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
}

#aboutme, #works, #contact {
    text-align: center;
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }
}